<a href="https://colab.research.google.com/github/tanmay023/GREEN-SKILL-AND-AI/blob/main/day2_shell_india.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(14):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [ ]:
for i in range(20,28):
    print(i)

20
21
22
23
24
25
26
27

In [ ]:
for i in range(1,23,3):
    print(i)

1
4
7
10
13
16
19
22

In [ ]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [ ]:
city_name = "PUNE"
print(f"city name: {city_name}")

temp = 25
symbol = "\u00B0C"
print(f"Temprature: {temp}{symbol}")

carbon_footprint = 500.75
print(f"Carbon footprint: {carbon_footprint}kg CO2")

is_sustainable = carbon_footprint < 400
print(f"is city sustainable? {is_sustainable}")

weekely_temp = [25,27,28,24,30,29]
print(f"weekely temp: {weekely_temp}")

city_data ={
    "name": "PUNE",
    "temp": 25,
    "carbon_footprint": 500.75,
    "is_sustainable": False
}

print(city_data)

city name: PUNE
Temprature: 25°C
Carbon footprint: 500.75kg CO2
is city sustainable? False
weekely temp: [25, 27, 28, 24, 30, 29]
{'name': 'PUNE', 'temp': 25, 'carbon_footprint': 500.75, 'is_sustainable': False}

In [ ]:
city_name, temp, carbon_footprint = "PUNE" , 25, 500.75
symbol = "\u00B0C"
print(f"city name: {city_name}, Temprature: {temp}{symbol}, carbon_footprint: {carbon_footprint} kg CO2")

city name: PUNE, Temprature: 25°C, carbon_footprint: 500.75 kg CO2

In [ ]:
city_data =[
    {"name": "PUNE",
    "temp": 25,
    "carbon_footprint": 500.75,
    "is_sustainable": False
     },
    {"name": "MUMBAI",
    "temp": 28,
    "carbon_footprint": 650.75,
    "is_sustainable": False
     },
    {"name": "DELHI",
    "temp": 15,
    "carbon_footprint": 700.75,
    "is_sustainable": False
     },
    {"name": "NAGPUR",
    "temp": 30,
    "carbon_footprint": 510.75,
    "is_sustainable": False
     },
    {"name": "YAVATMAL",
    "temp": 27,
    "carbon_footprint": 400.75,
    "is_sustainable": True
     }
]

print(city_data)

high_temp_threshold = 25
high_temp_cities = [city for city in city_data if city["temp"]>high_temp_threshold]
print(high_temp_cities)

for city in city_data:
  print(city)

total_carbon_footprint = 0 # Initialize total_carbon_footprint before loop
for city in city_data:
  total_carbon_footprint += city["carbon_footprint"]

print(f"total carbon footprint: {total_carbon_footprint}")
avg_carbonfootprint = total_carbon_footprint/len(city_data)
print(f"average carbon footprint: {avg_carbonfootprint:.2f}KG CO2")

sustainable_threshold = 400
sustainable_cities = list(filter(lambda city: city["carbon_footprint"]< sustainable_threshold, city_data))
for city in sustainable_cities:
  print(city)

[{'name': 'PUNE', 'temp': 25, 'carbon_footprint': 500.75, 'is_sustainable': False}, {'name': 'MUMBAI', 'temp': 28, 'carbon_footprint': 650.75, 'is_sustainable': False}, {'name': 'DELHI', 'temp': 15, 'carbon_footprint': 700.75, 'is_sustainable': False}, {'name': 'NAGPUR', 'temp': 30, 'carbon_footprint': 510.75, 'is_sustainable': False}, {'name': 'YAVATMAL', 'temp': 27, 'carbon_footprint': 400.75, 'is_sustainable': True}]
[{'name': 'MUMBAI', 'temp': 28, 'carbon_footprint': 650.75, 'is_sustainable': False}, {'name': 'NAGPUR', 'temp': 30, 'carbon_footprint': 510.75, 'is_sustainable': False}, {'name': 'YAVATMAL', 'temp': 27, 'carbon_footprint': 400.75, 'is_sustainable': True}]
{'name': 'PUNE', 'temp': 25, 'carbon_footprint': 500.75, 'is_sustainable': False}
{'name': 'MUMBAI', 'temp': 28, 'carbon_footprint': 650.75, 'is_sustainable': False}
{'name': 'DELHI', 'temp': 15, 'carbon_footprint': 700.75, 'is_sustainable': False}
{'name': 'NAGPUR', 'temp': 30, 'carbon_footprint': 510.75, 'is_sustainable': False}
{'name': 'YAVATMAL', 'temp': 27, 'carbon_footprint': 400.75, 'is_sustainable': True}
total carbon footprint: 2763.75
average carbon footprint: 552.75KG CO2

In [ ]:
highest_foot_print_city = max(city_data, key=lambda city: city["carbon_footprint"])
print(f"city with highest carbon footprint: {highest_foot_print_city}")

city with highest carbon footprint: {'name': 'DELHI', 'temp': 15, 'carbon_footprint': 700.75, 'is_sustainable': False}

In [ ]:
import pandas as pd

renewable_sources = ["SOLAR","WIND","HYDROPOWER","GEOTHERMAL","BIOMASS"]

data = {
    "project":["Solar Farm A","Wind Turbine X","Hydropower Y","Solar Roof z","Geothermal Plant P"],
    "Technology":["Solar","Wind","Hydropower","Solar","Geothermal"],
    "Capacity (MW)": [150,300,200,50,100],
    "Cost(Million $)":[200,400,350,100,250],
    "Location":["California","Texus","Washington","Nevada","Idaho"],
    "Completion Year":[2023,2024,2022,2025,2023]
}

In [ ]:
renewable_series = pd.Series(renewable_sources)
print("Renewable Energy Sources:")
print(renewable_series)

Renewable Energy Sources:
0         SOLAR
1          WIND
2    HYDROPOWER
3    GEOTHERMAL
4       BIOMASS
dtype: object

In [ ]:
projects_df = pd.DataFrame(data)

print("\nGreen Technology Project DataFrame:")
print(projects_df)

Green Technology Project DataFrame:
              project  Technology  Capacity (MW)  Cost(Million $)    Location  \
0        Solar Farm A       Solar            150              200  California
1      Wind Turbine X        Wind            300              400       Texus
2        Hydropower Y  Hydropower            200              350  Washington
3        Solar Roof z       Solar             50              100      Nevada
4  Geothermal Plant P  Geothermal            100              250       Idaho

   Completion Year
0             2023
1             2024
2             2022
3             2025
4             2023

In [ ]:
print("\nList of Project")
print(projects_df["project"])

List of Project
0          Solar Farm A
1        Wind Turbine X
2          Hydropower Y
3          Solar Roof z
4    Geothermal Plant P
Name: project, dtype: object

In [ ]:
high_capacity_projects = [projects_df["Capacity (MW)"]>100]
print("\nProjects with the capacity greater than 100 MW:")
print(high_capacity_projects)

Projects with the capacity greater than 100 MW:
[0     True
1     True
2     True
3    False
4    False
Name: Capacity (MW), dtype: bool]

In [ ]:
projects_df["Cost per MW"] = projects_df["Cost(Million $)"]/projects_df["Capacity (MW)"]
print("\nDataFrame with Cost per MW:")
print(projects_df)

DataFrame with Cost per MW:
              project  Technology  Capacity (MW)  Cost(Million $)    Location  \
0        Solar Farm A       Solar            150              200  California
1      Wind Turbine X        Wind            300              400       Texus
2        Hydropower Y  Hydropower            200              350  Washington
3        Solar Roof z       Solar             50              100      Nevada
4  Geothermal Plant P  Geothermal            100              250       Idaho

   Completion Year  Cost per MW
0             2023     1.333333
1             2024     1.333333
2             2022     1.750000
3             2025     2.000000
4             2023     2.500000

In [ ]:
total_capacity = projects_df["Capacity (MW)"].sum()
total_cost = projects_df["Cost(Million $)"].sum()

print(f"\nTotal Capacity of all the projects: {total_capacity} MW")
print(f"\nTotal Cost of all projects: {total_cost} Million $")

Total Capacity of all the projects: 800 MW

Total Cost of all projects: 1300 Million $

In [ ]:
grouped_data = projects_df.groupby("Technology")["Capacity (MW)"].sum()
print("\nTotal Capacity by Technology:")
print(grouped_data)

Total Capacity by Technology:
Technology
Geothermal    100
Hydropower    200
Solar         200
Wind          300
Name: Capacity (MW), dtype: int64

In [ ]:
import numpy as np

In [ ]:
pd.__version__

'2.2.2'

In [ ]:
np.__version__

'2.0.2'