<a href="https://colab.research.google.com/github/tanmay023/GREEN-SKILL-AND-AI/blob/main/day_3_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

days = pd.Series(['Monday', 'Tuesday', 'Wednesday','Thursday','Friday','Saturday','Sunday'])
print(days)

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

In [ ]:
days = pd.Series(['Monday', 'Tuesday', 'Wednesday','Thursday','Friday','Saturday','Sunday'],index=[1,2,3,4,5,6,7]) # index = list(range(1,8))
print(days)

1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

In [ ]:
print(days[4])

Thursday

In [ ]:
data = {
    'name':['Alice','Bob','Charlie'],
    'age':[25,30,28],
    'city':['New York','Los Angeles','Chicago']
}

print(data)

{'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 30, 28], 'city': ['New York', 'Los Angeles', 'Chicago']}

In [ ]:
df = pd.DataFrame(data)
print(df)

      name  age         city
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   28      Chicago

In [ ]:
print(df['name'])

0      Alice
1        Bob
2    Charlie
Name: name, dtype: object

In [ ]:
sorted_data = df.sort_values(by='age',ascending=True)
print(sorted_data)

      name  age         city
0    Alice   25     New York
2  Charlie   28      Chicago
1      Bob   30  Los Angeles

In [ ]:
df.shape

(3, 3)

In [ ]:
data = {
    'Date':["2021-10-01","2021-10-02","2021-10-03","2021-10-04","2021-10-05","2021-10-06","2021-10-07","2021-10-08","2021-10-09","2021-10-10"],
    'Measurement':[16.0,13.0,14.0,12.0,None,None,None,8.0,7.0,5.0]
}

df = pd.DataFrame(data)
print(df)

In [ ]:
date = pd.date_range(start='2021-10-01',end='2021-10-10')

data = {
    'Date':date,
    'Measurement':[16.0,13.0,14.0,12.0,None,None,None,8.0,7.0,5.0]
}

df = pd.DataFrame(data)
print(df)

        Date  Measurement
0 2021-10-01         16.0
1 2021-10-02         13.0
2 2021-10-03         14.0
3 2021-10-04         12.0
4 2021-10-05          NaN
5 2021-10-06          NaN
6 2021-10-07          NaN
7 2021-10-08          8.0
8 2021-10-09          7.0
9 2021-10-10          5.0

> DATE RANGE FUNCTION
date = pd.date_range(start='2021-10-01',end='2021-10-10')
print(date)

In [ ]:
df.isna()

    Date  Measurement
0  False        False
1  False        False
2  False        False
3  False        False
4  False         True
5  False         True
6  False         True
7  False        False
8  False        False
9  False        False

In [ ]:
avg = df['Measurement'].mean()
print(avg)

df.fillna(avg,inplace=True)
print(df)

10.714285714285714
         Date  Measurement
0  2021-10-01    16.000000
1  2021-10-02    13.000000
2  2021-10-03    14.000000
3  2021-10-04    12.000000
4  2021-10-05    10.714286
5  2021-10-06    10.714286
6  2021-10-07    10.714286
7  2021-10-08     8.000000
8  2021-10-09     7.000000
9  2021-10-10     5.000000

In [ ]:
import pandas as pd
music_df = pd.read_csv('music.csv')
print(music_df)

              artist  country  plays  genre  fans
0        The Beatles       UK    150   rock    50
1         Pink Floyd       UK  10000   rock  1500
2          Metallica       US    500  metal    50
3           Cairokee    Egypt    200   rock    10
4               ACDC       US    250   rock    20
5          The Doors       US   1000   rock    80
6  Poets of The Fall  Finland    250   rock    10
7           Megadeth       US    300  metal    20
8        Iron Maiden       UK  20000  metal  3500
9       Judas Priest       UK   5000  metal  1000

In [ ]:
total_no_of_plays_for_each_country = music_df.groupby('country')['plays'].sum()
print(total_no_of_plays_for_each_country)

country
Egypt        200
Finland      250
UK         35150
US          2050
Name: plays, dtype: int64

In [ ]:
total_no_of_plays_for_each_country_and_genre = music_df.groupby(['country','genre'])['plays'].sum()
print(total_no_of_plays_for_each_country_and_genre)

country  genre
Egypt    rock       200
Finland  rock       250
UK       metal    25000
         rock     10150
US       metal      800
         rock      1250
Name: plays, dtype: int64

In [ ]:
records_with_genere_rock = music_df[music_df['genre']=='rock']
print(records_with_genere_rock)

              artist  country  plays genre  fans
0        The Beatles       UK    150  rock    50
1         Pink Floyd       UK  10000  rock  1500
3           Cairokee    Egypt    200  rock    10
4               ACDC       US    250  rock    20
5          The Doors       US   1000  rock    80
6  Poets of The Fall  Finland    250  rock    10

In [ ]:
date = pd.date_range(start='2021-10-01',end='2021-10-10')
print(date)

DatetimeIndex(['2021-10-01', '2021-10-02', '2021-10-03', '2021-10-04',
               '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-08',
               '2021-10-09', '2021-10-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
date = pd.date_range(start='2021-10-01',end='2021-10-10')

data = {
    'Date':date,
    'Measurement':[16.0,13.0,14.0,12.0,None,None,None,8.0,7.0,5.0]
}

df = pd.DataFrame(data)
print(df)

mean = df['Measurement'].mean()

df.fillna(method='ffill',limit=2,inplace=True) # FILLING FIRST @ CONSECATIVE VALUES WITH FORWARD FILL
df.fillna(mean,inplace=True) # FILLING LAST @ AND REMAINING ONE WITH MEAN/AVG
print(df)

        Date  Measurement
0 2021-10-01         16.0
1 2021-10-02         13.0
2 2021-10-03         14.0
3 2021-10-04         12.0
4 2021-10-05          NaN
5 2021-10-06          NaN
6 2021-10-07          NaN
7 2021-10-08          8.0
8 2021-10-09          7.0
9 2021-10-10          5.0
        Date  Measurement
0 2021-10-01    16.000000
1 2021-10-02    13.000000
2 2021-10-03    14.000000
3 2021-10-04    12.000000
4 2021-10-05    12.000000
5 2021-10-06    12.000000
6 2021-10-07    10.714286
7 2021-10-08     8.000000
8 2021-10-09     7.000000
9 2021-10-10     5.000000

/tmp/ipython-input-1041446131.py:13: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill',limit=2,inplace=True) # FILLING FIRST @ CONSECATIVE VALUES WITH FORWARD FILL

In [ ]:
date = pd.date_range(start='2021-10-01',end='2021-10-10')

data = {
    'Date':date,
    'Measurement':[16.0,13.0,14.0,12.0,None,None,None,8.0,7.0,5.0]
}

df = pd.DataFrame(data)
print(df)

# OR WITH THE FUNCTION

def fill_missing_values():
  try:
    df.fillna(method="ffill",limit=2,inplace=True)
    df.fillna(df['Measurement'].mean(),inplace=True)
  except:
    pass

        Date  Measurement
0 2021-10-01         16.0
1 2021-10-02         13.0
2 2021-10-03         14.0
3 2021-10-04         12.0
4 2021-10-05          NaN
5 2021-10-06          NaN
6 2021-10-07          NaN
7 2021-10-08          8.0
8 2021-10-09          7.0
9 2021-10-10          5.0

In [ ]:
fill_missing_values()
print(df)

        Date  Measurement
0 2021-10-01         16.0
1 2021-10-02         13.0
2 2021-10-03         14.0
3 2021-10-04         12.0
4 2021-10-05         12.0
5 2021-10-06         12.0
6 2021-10-07         11.0
7 2021-10-08          8.0
8 2021-10-09          7.0
9 2021-10-10          5.0

/tmp/ipython-input-1283206370.py:15: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill",limit=2,inplace=True)